.dark-blue {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    padding: 0 200px;
}

.dark-blue .sign-up {
    padding: 100px 0;
}

.dark-blue h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
}

.dark-blue p {
    font-size: 18px;
    color: #E5E7EB;
}

.dark-blue h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.dark-blue li {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
}

.white {
    display: flex;
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
}

.quotes {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: light italic;
    display: flex;
}

.CTA {
    background-color: #3882F6;
    display: flex;
}

footer {
    display: flex;
    background-color: #1F2937;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.toolbar ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

.toolbar ul a {
    text-decoration: none;
    color: gray;
}

.sign-up {
    display: flex;
    justify-content: space-between;
}

