.dark-blue {
    display: flex;
    background-color: #1F2937;
    flex-direction: column;
    padding: 0 200px;
}

.dark-blue .sign-up {
    padding: 100px 0;
}

.dark-blue h2 {
    font-size: 48px;
    font-weight: extra-bold;
    color: #F9FAF8;
    margin: 0;
}

.dark-blue p {
    font-size: 18px;
    color: #E5E7EB;
}

.dark-blue h1 {
    font-size: 24px;
    color: #F9FAF8;
}

.dark-blue li {
    font-size: 18px;
    color: #E5E7EB;
}

button {
    background-color: #3882F6;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
    border: 2px solid white;
}

.white {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    padding: 0 200px;
    padding-bottom: 100px;
}

.quotes {
    background-color: #E5E7EB;
    font-size: 36px;
    color: #1F2937;
    font-style: light italic;
    display: flex;
    padding: 100px 200px;
}

.CTA {
    display: flex;
    padding: 100px 200px;
    flex-direction: column;
}


.CTA div {
    background-color: #3882F6;
    display: flex;
    padding: 50px 100px;
    color: white;
    justify-content: space-between;
    border-radius: 10px;
    align-items: center;
}




footer {
    display: flex;
    background-color: #1F2937;
}

.toolbar {
    display: flex;
    justify-content: space-between;
}

.toolbar ul {
    display: flex;
    list-style: none;
    gap: 10px;
}

.toolbar ul a {
    text-decoration: none;
    color: gray;
}

.sign-up {
    display: flex;
    justify-content: space-between;
}

.Benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.Benefit {
    width: 250px;
    
}

.Benefit img {
    width: 100%;
    border: 2px solid gray;
    border-radius: 10px;
    height: 250px;
    object-fit: scale-down;
}

.white h2 {
    text-align: center;
}

.quote span {
    font-weight: bolder;
}

footer {
    padding: 20px;
    display: flex;
    color: white;
    justify-content: center;
}